@font-face
  font-family: "iconfont"
  src: url('../fonts/iconfont.eot')
  src: url('../fonts/iconfont.eot') format('embedded-opentype'),
  url('../fonts/iconfont.woff') format('woff'),
  url('../fonts/iconfont.ttf') format('truetype')

[class^="icon-"], [class*=" icon-"]
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfont' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-weibo:before
  content: "\3464"
.icon-weixin:before
  content: "\3434"
.icon-qq:before
  content: "\e627"
.icon-icon5:before
  content: "\e668"
.icon-baojingchuli:before
  content: "\e9b8"
.icon-bugle:before
  content: "\e65d"
.icon-shouji:before
  content: "\e737"
.icon-zhanghao00:before
  content: "\e704"
